<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Pátio</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-principal">
        <aside class="barra-lateral">
            <h1>PROJETO</h1>
            <div id="painel-info" class="painel-info">
                <div class="adicionar">
                    <button id="btn_adicionar">Adicionar Contêiner</button>

                    <form id="form_infos" class="escondido">
                        <input id="input_nome" type="text" placeholder="ID do Contêiner (ex: MSCU1234567)" required>
                        <label for="input_chegada">Entrada:</label>
                        <input id="input_chegada" type="date" required>
                        <label for="input_saida">Saída Programada:</label>
                        <input id="input_saida" type="date" required>
                        <button id="btn_cadastrar" type="submit">Cadastrar</button>
                    </form>
                </div>

                <div id="detalhes-container" class="escondido">
                    <p><strong>ID:</strong> <span id="info-id"></span></p>
                    <p><strong>Posição (Bay-Row-Tier):</strong> <span id="info-posicao"></span></p>
                    <p><strong>Entrada:</strong> <span id="info-entrada"></span></p>
                    <p><strong>Saída Programada:</strong> <span id="info-saida"></span></p>
                    <p><strong>Status:</strong> <span id="info-estado"></span></p>
                </div>
            </div>
        </aside>
        <main class="area-conteudo">
            @RenderBody()
        </main>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>