@{
    ViewData["Title"] = "Pátio";
}

<div class="cabecalho">
    <h2>Visualização do Pátio</h2>
    <div class="legenda">
        <div><span class="caixa padrao"></span> Padrão</div>
        <div><span class="caixa hoje"></span> Saída Hoje</div>
        <div><span class="caixa atrasado"></span> Saída Atrasada</div>
    </div>
</div>
<div id="visualizacao-patio" class="grid-patio">
</div>