<link rel="stylesheet" href=~/css/site.css />
<script src="~/js~/js/site.js"></script>
<button id="adicionar">Adicionar</button>
<div class="patio">
   @* <div>

    </div>

    <div>

    </div>

    <div>
  
    </div>

    <div>
       
    </div>*@ <- "Containers"
</div>

<div class="form">
    <label>Código</label>
    <input id="codigo" type="text" required/>
    
    <label>Data-Entrada: </label>
    <input id="data_entrada" type="text" required/>

    
    <label>Data-Saída</label>
    <input id="data_saida" type="text" required/>

    <button id="cadastrar">Cadastrar</button>
</div>