@{
    ViewData["Title"] = "Pátio";
}

<div class="cabecalho">
    <h2>Visualização do Pátio</h2>
    <div class="legenda">
        <div><span class="caixa hoje"></span> Saída Hoje</div>
        <div><span class="caixa atrasado"></span> Saída Atrasada</div>
        <div><span class="caixa dias2"></span> Saída de 2 a 3 dias</div>
        <div><span class="caixa dias4"></span> Saída de 4 dias</div>
        <div><span class="caixa longe"></span> Saída Longe</div>
    </div>
</div>

<div id="visualizacao-patio" class="grid-patio">
</div>